<div class="card">
  <div class="actions">
    <h1>Caminhões Cadastrados</h1>
    <div class="right">
      <a class="btn" routerLink="/trucks/new">+ Novo caminhão</a>
    </div>
  </div>

  <div *ngIf="isLoading" class="mt-3">Carregando caminhões...</div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <div class="table-wrap" *ngIf="!isLoading && trucks?.length">
    <table class="table">
      <thead>
        <tr>
          <th>Placa</th><th>Marca</th><th>Modelo</th>
          <th>Ano</th><th>Preço FIPE</th><th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let truck of trucks">
          <td>{{ truck.licensePlate }}</td>
          <td>{{ truck.brand }}</td>
          <td>{{ truck.model }}</td>
          <td>{{ truck.manufacturingYear }}</td>
          <td>{{ truck.fipePrice | currency:'BRL':'symbol-narrow' }}</td>
          <td><a class="btn-secondary" [routerLink]="['/trucks/edit', truck.id]">Editar</a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="!isLoading && !trucks?.length">Nenhum caminhão cadastrado.</div>
</div>

